footer {
    background-color: #0d3f86;
    color: white;
}

.footer__listas {
    display: flex;
    font-size: 20px;
    justify-content: space-between;
    padding: 50px 110px;
}

.footer__baixo--itens {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #082f67;
    padding: 10px 35px;
}

.footer__baixo-img {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}